.vp-container {
  width: 80%;
  min-width: 200px;
  max-width: 1200px;
  padding: 10px;
  border: 1px solid #303030;
  box-shadow: 5px 2px 2px #303030;

  .video {
    position: relative;
    z-index: 1;

    &:hover > .image {
      display: block;
    }

    .image {
      position: absolute;
      top: 50%;
      left: 50%;
      background: rgba(48, 48, 48, 0.5);
      border-radius: 50%;
      display: none;
      animation: 2s ease-in-out slidein;
      z-index: 2;
    }

    .image:active {
      animation: 1s ease-in-out slidein;
    }

    @keyframes slidein {
      from {
        transform: scale(0);
      }
      to {
        transform: scale(1);
      }
    }
    .speed {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: black;
      opacity: 0.8;
      padding: 5px;

      .speed-title {
        border-bottom: 1px solid #303030;
      }

      div {
        font-size: 12px;
        padding: 5px;
      }

      div:hover {
        background-color: #303030;
      }
    }
  }

  .video-controls {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;

    .controls-left,
    .controls-right {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin: 0;

      div {
        padding-right: 5px;
      }

      .volume:hover + .volumeProgress {
        visibility: visible;
      }
      .volumeProgress {
        width: 30px;
        visibility: hidden;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .vp-container .video .speed div {
    font-size: 8px;
  }
}

@media screen and (min-width: 900px) and (max-height: 600px) {
  .vp-container {
    width: 50%;
  }
}

@media screen and (min-width: 1500px) and (max-height: 800px) {
  .vp-container {
    width: 40%;
  }
}
